#avatar {
	cursor:pointer;
	height:80px;
	width:80px;
}

#blackout {
	background:#000;
	display:none;
	height:100%;
	margin-left:-8px;
	opacity:.7;
	position:fixed;
	top:0;
	width:100%;
	z-index:1000;
}

#blah {
	border:1px solid #fff;
	height:80px;
	margin:10px 37% 30px;
	width:80px;
}

#editPostBox {
	resize:vertical;
	width:924px;
	margin-left: 5px;
}

#editpost input {
	float:right;
	margin-right: 5px;
}

#editpost {
	display:none;
	padding-bottom: 35px;
}

#expandedmessage {
	border-top:1px solid #3584D8;
	cursor:default;
	display:none;
	padding-top:5px;
}

#friendme {
	float:right;
}

#friendreq {
	cursor:pointer;
}

#imagepreview {
	display:none;
}

#makePost {
	height:40px;
	text-align:right;
	top:0;
}

#makePost input {
	height:100%;
	top:0;
}

#makePost textarea {
	background:rgba(0,0,0,0.80);
	border:none!important;
	color:#FFF;
	font-size:16px;
	height:38px!important;
	line-height:18px;
	resize:none;
	width:450px;
}

#newmessages {
	cursor:pointer;
}

#newposts {
	background:#444;
	color:#fff;
	display:none;
	height:30px;
	margin:5px auto 10px;
	padding-top:10px;
	text-align:center;
	width:430px;
}

#notification {
	background:#444;
	color:#fff;
	margin-top:42px;
	padding-top:2px;
}

#omnibox {
	background:#444;
	height:42px;
	position:fixed;
	top:0;
	width:940px;
	z-index:999999;
}

#omnilinks {
	-webkit-margin-after:0;
	-webkit-margin-before:0;
	-webkit-padding-start:0;
	color:#fff;
	float:left;
	line-height:42px;
	margin:0;
	text-align:left;
}

#omnilinks #trikl {
	color:#3584D8;
	margin:0 45px 0 15px;
	width:0;
}

#omnilinks a {
	color:inherit;
	cursor:pointer;
	height:21px;
	text-decoration:none;
	width:50px;
}

#omnilinks li {
	float:left;
	list-style-type:none;
	text-align:center;
	width:75px;
}

#omnitext {
	float:right;
}

#options {
	display:none;
	float:right;
}

.submitbar {
	background: #444;
	width: 940px;
	height: 30px;
	display:none;
}

#upload {
	display:none;
}

#upload input {
	float:left;
}

#options input {
	color:#fff;
	float:right;
	list-style-type:none;
	text-align:right;
}

#page {
	background:#444;
	color:#fff;
	height:30px;
	margin:5px auto 10px;
	padding-top:10px;
	text-align:center;
	width:430px;
}

#photobar {
	background:#444;
}

#profilebox {
	background:#444;
	height:42px;
	width:940px;
	z-index:999999;
}

#profilelinks {
	-webkit-margin-after:0;
	-webkit-margin-before:0;
	-webkit-padding-start:0;
	color:#fff;
	float:left;
	line-height:42px;
	margin:0;
	text-align:left;
}

#profilelinks a {
	color:inherit;
	cursor:pointer;
	height:21px;
	text-decoration:none;
	width:50px;
}

#profilelinks li {
	float:left;
	list-style-type:none;
	text-align:center;
	width:100px;
}

#sendmessage {
	display:none;
}

#supercompose {
	cursor:pointer;
}

.LoginButn {
	text-align:center;
	width:580px;
}

.bigtext {
	float:right;
}

.bigtextlabel {
	margin-top:20px;
}

.comment {
	margin:10px 25px 0 100px;
	-webkit-margin-after:0;
	-webkit-margin-before: 0;
}

.content {
	margin-left:10px!important;
	margin-top:10px!important;
	min-height:65px;
	width:650px;
}

.contents {
	margin:0 auto;
	width:940px;
}

.contractednotif {
	line-height:39px;
}

.contractednotif h3 {
	display:inline-block;
	margin:0;
}

.date {
	float:right;
	margin-right:5px!important;
}

.downvote {
	border-left:20px solid transparent;
	border-right:20px solid transparent;
	border-top:20px solid #444;
	cursor:pointer;
	height:0;
	width:0;
}

.expandnotif {
	border-top:1px solid #3584D8;
	display:none;
	margin-top:2px;
}

.friendreqs {
	height:50px;
	margin-left:10px;
}

.friendreqs img {
	display:inline-block;
}

.friendrequest {
	border-bottom:1px solid rgba(0,0,0,0.0980392);
	margin:0 5px;
	min-height:89px;
	padding-top:5px;
}

.friendrequest .date {
	color:rgba(0,0,0,0.43);
	float:right;
}

.friendrequest .postcontents {
	display:inline-block;
	margin-left:40px;
	padding:5px;
	width:875px;
}

.friendrequest .postvotes {
	display:inline-block;
	margin-top:15px;
	padding:5px;
	position:absolute;
}

.friendrequest a {
	color:#3584D8;
	text-decoration:none;
}

.friendrequest p {
	margin:0;
}

.friendrequests {
	margin-left:10px!important;
}

.header {
	height:34px;
	margin:0 auto;
	top:0;
	width:940px;
}

#attachimage {
	float: left !important;
    width: 431px !important;
    line-height: 45px;
}

#attachimage .progress {
	display: inline-block;
}

.input-field {
	height:80px;
	margin:0 auto;
	text-align:right;
	width:500px;
}

.longlable {
	text-align:right;
	width:247px;
}

.makeComment {
	min-height:42px;
	text-align:center;
	padding-bottom:30px;
}

.makeComment input {
	float:right;
	margin-right: 5px;
}

.makeComment textarea {
	resize:vertical;
	width:925px;
}
.comments {
	display:none;
}

.menu {
	padding-left:10px;
}

.menu .menu_item {
	height:40px;
}

.menu a {
	color:#fff;
	text-decoration:none;
}

.message {
	border-bottom:1px solid rgba(0,0,0,0.0980392);
	min-height:100px;
	width:940px;
}

.message .usr_img {
	float:left;
}

.message p {
	display:inline-block;
	margin:0;
}

.messagecenter {
	margin-left:10px!important;
}

.messages {
	background:rgba(0,0,0,0.07);
	margin:auto;
	width:750px;
}

.notif {
	color:red;
	font-size:18px;
	margin-left:10px;
	margin-top:-2px;
	width:0!important;
}

.notification_action {
	display:inline-block;
}

.notification_action h3 {
	color:#fff;
	display:inline-block;
	font-weight:100;
	height:30px;
	margin:0;
	margin-top:-64px!important;
	vertical-align:middle;
}

.notification_action input {
	display:inline-block;
	height:30px;
	margin:-40px 0 0 25px;
	vertical-align:middle;
}

.period {
	color:rgba(0,0,0,0.43);
	display:inline-block;
	float:left;
	font-size:18px;
	margin:0;
	width:0;
}

.photo {
	display:inline-block;
	width:200px;
}

.post {
	border-bottom:1px solid rgba(0,0,0,0.0980392);
	min-height:95px;
}

.post .date {
	color:rgba(0,0,0,0.43);
	float:right;
	line-height:30px;
}

.post .postcontents {
	display:inline-block;
padding-left:45px;
	width:895px;
}

.post .postcontents a {
	line-height:25px;
}

.post .postvotes {
	display:inline-block;
	margin-top:15px;
	padding:5px;
	position:absolute;
}

.post .urldata {
	padding-top:5px;
	text-align:center;
}

.post .urldata img {
	max-width:730px;
}

.post a {
	color:#3584D8;
	text-decoration:none;
}

.post p {
	margin-bottom:0;
	min-height:60px;
}

.privacyfields {
	border-top:none;
}

.profile {
	border:1px solid rgba(0,0,0,0.0980392);
	height:150px;
	margin:auto;
	padding:10px 0 0 10px;
}

.profile .profile_un {
	color:#FFF;
	letter-spacing:2px;
	text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
}

.profile li {
	display:block;
}

.profile_bio {
	display:none;
}

#sendmessage input {
    width: 925px;
    margin-left: 5px;
}

#sendmessage textarea {
	width: 923px; height: 50px; resize: vertical; 
    margin-left: 5px;
    margin-top:2px;
}

#sendmessage .messagesubmit {
	width: auto;
}

.profilefriends {
	display:none;
}

.profile_bio ul {
	-webkit-padding-start:0;
	margin:0;
}

.profile_friends {
	float:left;
}

.profile_img {
	border-radius:5px;
	float:left;
	height:80px;
	width:80px;
}

.profile_un {
	margin-left:85px;
	margin-top:0;
}

.proset {
	text-align:center;
}

.recipients {
	margin-left:5px;
}

.replybutton {
	cursor:pointer;
}

.replyform {
	display:inline-block;
	float:right;
	line-height:45px;
	margin-right:5px;
}

.replyform input {
	background:#3584D8;
	border:1px solid #3584D8!important;
	color:#fff;
}

.replymessage {
	border-top:1px solid #3584D8;
	display:none;
	display:none;
	padding-top:5px;
}

.replymessage #messagecontents {
	height:60px;
	margin:10px 10px 10px 60px;
	width:800px;
}

.requestform {
	display:inline-block;
	float:right;
}

.requestinfo {
	margin-top:8px;
}

.settings {
	margin:auto;
	width:535px;
}

.small-input-field {
	height:40px;
	margin:0 auto;
	width:500px;
}

.smalltext {
	float:none;
}

.smalltextlabel {
	text-align:right;
}

.stream {
	background:rgba(0,0,0,0.07);
	margin:auto;
	width:940px;
}

.stream .post .share {
	float:right;
	margin-top:-18px;
}

.subject a {
	color:#3584D8;
}

.tags {
	margin-top:10px;
}

.tags .card_img {
	float:left;
	margin-left:10px;
	width:150px;
}

.tags a {
	color:#000!important;
	text-decoration:none;
}

.tags h4 {
	margin-top:0;
}

.tags p {
	margin:0 20px 0 165px;
	text-align:justify;
}

.tinyavatars {
	display:inline-block;
	float:right;
	height:40px;
	margin-right:10px;
}

.toggledown {
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-top:5px solid #3584D8;
	cursor:pointer;
	height:0;
	margin-left:10px!important;
	width:0;
}

.toggleup {
	border-bottom:5px solid #fff;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	cursor:pointer;
	height:0;
	margin-left:10px!important;
	width:0;
}

.ui-dialog {
	left:0;
	overflow:hidden;
	padding:.2em;
	position:fixed;
	top:0;
	width:auto!important;
}

.ui-dialog .ui-dialog-buttonpane {
	background-image:none;
	border-width:1px 0 0;
	margin:.5em 0 0;
	padding:.3em 1em .5em .4em;
	text-align:left;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float:right;
}

.ui-dialog .ui-dialog-buttonpane button {
	cursor:pointer;
	margin:.5em .4em .5em 0;
}

.ui-dialog .ui-dialog-content {
	background:#F7F4E2;
	border:0;
	overflow:auto;
	padding:.5em 1em;
	position:relative;
	zoom:1;
}

.ui-dialog .ui-dialog-title {
	float:left;
	margin:.1em 16px .1em 0;
}

.ui-dialog .ui-dialog-titlebar {
	background:#444;
	color:#fff;
	height:20px;
	padding:.4em 1em;
	position:relative;
}

.ui-dialog .ui-dialog-titlebar-close {
	height:18px;
	margin:-10px 0 0;
	padding:1px;
	position:absolute;
	right:.3em;
	top:50%;
	width:19px;
}

.ui-dialog .ui-dialog-titlebar-close span {
	display:block;
	margin:1px;
}

.ui-dialog .ui-dialog-titlebar-close:focus {
	padding:0;
}

.ui-dialog .ui-dialog-titlebar-close:hover {
	padding:0;
}

.ui-dialog .ui-resizable-se {
	bottom:3px;
	height:14px;
	right:3px;
	width:14px;
}

.upvote {
	border-bottom:20px solid #3584D8;
	border-left:20px solid transparent;
	border-right:20px solid transparent;
	cursor:pointer;
	height:0;
	width:0;
}

.usr_bg {
	text-align:center;
}

.usr_img {
	float:left;
	height:95px;
	margin:0 5px;
	width:95px;
}

.votes {
	text-align:center;
}

body {
	background:#F7F4E2;
}

fieldset {
	background:rgba(0,0,0,0.07);
	border:1px solid rgba(0,0,0,0.0980392);
	margin:0;
	padding:20px;
}

h4 {
	margin:0;
}

h5 {
	color:rgba(0,0,0,0.43);
	display:inline-block;
	float:left;
	font-size:18px;
	margin:0;
	text-align:left;
	width:50px;
}

html {
	background:#F7F4E2;
}

input {
	border:1px solid #CCC!important;
	font-size:14px;
}

select {
	-webkit-appearance:none;
	background:none;
	border:none;
	color:#3584D8;
	font-size:18px;
	margin:0;
	padding:0;
	width:243px;
}

textarea {
	border:1px solid #CCC!important;
	font-size:14px;
}