body,html {
	height:100%;
	background: #F7F4E2;
}

#sidebar_left {
	position:fixed;
	top:0;
	left:0;
	display:none;
	float:left;
	width:250px;
	height:100%;
	background:#444;
	-webkit-box-shadow:inset -18px 0 24px -8px #222;
	-moz-box-shadow:inset -18px 0 24px -8px #222;
	box-shadow:inset -18px 0 24px -8px #222;
	color:#fff;
	vertical-align:middle;
}

#sidebar_right {
	position:fixed;
	top:0;
	right:0;
	display:none;
	float:right;
	width:250px;
	height:100%;
	background:#444;
	-webkit-box-shadow:inset 18px 0 24px -8px #222;
	-moz-box-shadow:inset 18px 0 24px -8px #222;
	box-shadow:inset 18px 0 24px -8px #222;
	color:#fff;
	vertical-align:middle;
}

#right_mouseline {
	position:fixed;
	top:0;
	right:0;
	width:300px;
	height:100%;
}

.menu {
	padding-left:10px;
}

.menu .menu_item {
	height:40px;
}

.menu a {
	color:#fff;
	text-decoration:none;
}

.usr_bg {
	text-align:center;
}

#left_mouseline {
	position:fixed;
	top:0;
	left:0;
	width:300px;
	height:100%;
}

.contents {
	margin:50px auto 0;
	width:940px;
}

.usr_bg {
	position:fixed;
	top:0;
	width:940px;
	height:200px;
	border-bottom:4px solid #3584D8;
	background:#000;
	background-size:940px!important;
	opacity:.4;
}

#makePost {
	position:fixed;
	top:0;
	z-index:99999;
	min-height:42px;
	max-height:200px;
	width:940px;
	text-align:center;
}

#makePost textarea {
	width:450px;
	border:1px solid #CCC!important;
	background:rgba(0,0,0,0.80);
	color:#FFF;
	font-size:16px;
	line-height:18px;
	resize:none;
}

#makePost input {
	top:0;
	width:40px;
	height:100%;
	background:#CCC url(/public/images/icons/profile.png) no-repeat center;
}

.makeComment {
	min-height:42px;
	width:500px;
	text-align:center;
}

.makeComment textarea {
	width:450px;
	border:1px solid #CCC!important;
	background:rgba(0,0,0,0.80);
	color:#FFF;
	font-size:16px;
	line-height:18px;
	resize:none;
	min-height:42px;
}

.makeComment input {
	width:20px;
	position: absolute;
	background:#CCC url(/public/images/icons/profile.png) no-repeat center;
}


.stream {
	margin:auto;
	width:540px;
	background:rgba(0,0,0,0.07);
}

.stream .post {
	margin:0 5px;
	min-height:95px;
	border-bottom:1px solid rgba(0,0,0,0.0980392);
}

.stream .post p {
	margin-bottom:0px;
	min-height:60px;
}

.stream .post .usr_img {
	float:left;
	margin:5px;
	width:80px;
	height:80px;
	border-radius:5px;
}

.stream .post a {
	color:#3584D8;
	text-decoration:none;
}

.stream .post .share {
	display:none;
	margin:5px auto 10px;
	padding-top:10px;
	width:430px;
	height:30px;
	background:#444;
	color:#000;
	text-align:center;
}

.stream .post .postcontents {
	padding: 5px;
}

.comment {
	margin: 10px 25px 0 100px;
}

.stream .post .date {
	float:right;
	color:rgba(0,0,0,0.43);
}

.tags {
	margin-top:10px;
}

.tags a {
	color:#000!important;
	text-decoration:none;
}

.tags .card_img {
	float:left;
	margin-left:10px;
	width:150px;
}

.tags h4 {
	float:right;
	margin-top:0;
	width:355px;
}

.tags p {
	margin:0 20px 0 165px;
	text-align:justify;
}

#options {
	display:none;
	margin:-4px auto 0;
	padding-left:5px;
	width:450px;
	background:#444;
	color:#fff;
	list-style:none;
	text-align:left;
}

.profile_img {
	float:left;
}

.profile_un {
	float:right;
}

.profile_friends {
	float:left;
}

.profile {
	margin:auto;
	width:540px;
}

#newposts {
	display:none;
	margin:5px auto 10px;
	padding-top:10px;
	width:430px;
	height:30px;
	background:#444;
	color:#fff;
	text-align:center;
}

#page {
	margin:5px auto 10px;
	padding-top:10px;
	width:430px;
	height:30px;
	background:#444;
	color:#fff;
	text-align:center;
}

.settings {
	margin: auto;
	width:740px;
}

#photobar {
	background: #444;
}

.photo {
	width:200px;
	display: inline-block;
}

.ui-dialog { position: fixed; top: 0; left: 0; overflow: hidden; padding: .2em; width: 400px !important; }
.ui-dialog .ui-dialog-content { position: relative; overflow: auto; padding: .5em 1em; border: 0; background: none; background: #444; zoom: 1; }
.ui-dialog .ui-dialog-titlebar { position: relative; padding: .4em 1em; height:20px; background:white; }


.ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .1em 0; }
.ui-dialog .ui-dialog-titlebar-close { position: absolute; top: 50%; right: .3em; margin: -10px 0 0 0; padding: 1px; width: 19px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-buttonpane { margin: .5em 0 0 0; padding: .3em 1em .5em .4em; border-width: 1px 0 0 0; background-image: none; text-align: left; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.ui-dialog .ui-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; }
.ui-dialog .ui-resizable-se { right: 3px; bottom: 3px; width: 14px; height: 14px; }