BODY {
	margin: 20px auto;
	width: 900px;
	background: #fff;
	font-family: sans-serif !important;
}

A {
	color: #000;
	text-decoration: none;
}

.back {
	float: left !important;
}

A:hover {
	color: purple;
	text-decoration: none;
	cursor: pointer;
}

.wrapper {
	padding: 10px;
	background: transparent;
}

.remember {
	margin-top: 10px;
	padding-left: 83px;
	color: black;
	font-size: 10px;
}

.logo {
	padding-top: 15%;
	text-align: center;
}

.LoginButn {
	margin: 0 auto;
	padding: 6px;
	width: 223px;
	height: 64px;
	border: 1px solid #dcdcdc;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: #3584d8;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	font-weight: lighter;
	font-size: 15px;
}

.LoginButton:hover {
	background-color:#3584d8;
}

.LoginButton:active {
	position: relative;
	top: 1px;
}

 .RegButn {
	 float: right:;
 }
 
.register {
	float: left !important;	
	
}

.LoginButn input {
	
}

.LoginButn input[type=submit] {
	float: right;
	border: none;
	background: #3584d8;
	color: white;
	cursor: pointer;
}

 .LoginButn a {
	 float: left;
	 margin-top: 2px;
	 margin-left: 4px;
	 color: white;
 }
 
 .menu {
	 float: left;
	 margin-left: -150px !important;
 }

.page_load_time {
	position: fixed;
	right: 5px;
	bottom: 0;
	font-size: 12px;
}

.notification-bar {
	position:fixed;
	left: 0;
	margin-bottom: 2px;
	padding: 5px 0 5px 0;
	width: 100%;
	height: 19px;
	border-bottom: solid #3584d8;
	background-color: #414040;
	color: #4662c9;
	text-align: center;
	font-size: 12px;
	font-family: georgia;
	top; 0;
}

.test_fp {
	border-radius: 5px;
	margin-top: 2%;
	width: 900px;
	height: 600px;
	background-image: url(/templates/images/here.png);
}

.test_logo {
	padding: 15px 0 0 15px;
}